@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* =========================
   DESIGN SYSTEM
========================= */

:root {
  /* Background */
  --background: #C4B5FD;
  --secondary: #FFB4C1;
  --tertiary: #FFD6A5;

  /* Card */
  --card: #ffff00;

  /* Accent */
  --accent: #F97316;

  /* Text */
  --foreground: #18181B;
}

/* =========================
   TAILWIND TOKENS
========================= */
@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);

  --color-card: var(--card);
  --color-border: var(--border);

  --color-accent: var(--accent);

  --color-foreground: var(--foreground);
  --color-muted: var(--muted);

  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/* =========================
   GLOBAL
========================= */

body {
  background:
    radial-gradient(
      circle at top left,
      var(--secondary),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom right,
      var(--tertiary),
      transparent 1%
    ),
    var(--background);

  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;
}